// fonts
$kaushan: 'Kaushan Script', cursive;
$font-title: Montserrat, sans-serif;
$font: Roboto, sans-serif;

// Color
$grey: #999;
$dark-grey: #333;
$pink: #f38181;
$yellow: #fce38a;
$blue: #95e1d3;
